
<section id="pay_section" class="hidden">
  <!-- 계인 정보 -->
  <section>
    <h3>개인 정보</h3>
    <table>
      <!-- <caption>개인 정보 상세 정보</caption> -->
      <colgroup>
        <col style="width:110px">
        <col style="width:auto">
      </colgroup>
      <tbody>
        <tr>
          <th scope="row"><label for="userName">이름</label></th>
          <td>
            <input type="text" name="userName" title="성명" placeholder="이름을 입력하세요." value="<%= user.name %>">
          </td>
        </tr>
        <tr>
          <th scope="row"><label for="usrEmail">이메일</label></th>
          <td>
            <input type="text" name="usrEmail" maxlength="80" title="이메일" placeholder="이메일을 입력하세요." value="<%= user.email %>">
          </td>
        </tr>
        <tr>
          <th scope="row"><label for="phone1">휴대전화</label></th>
          <td>
            <input name="phone1" title="휴대폰 첫번째 숫자" type="text" value="<%= user.phone %>" maxlength="4" onkeydown="" onkeypress="" onkeyup="">
            <span>-</span>
            <input name="phone2" title="휴대폰 가운데 숫자" type="text" value="<%= user.phone %>" maxlength="4" onkeydown="" onkeypress="" onkeyup="">
            <span>-</span>

            <input name="phone3" title="휴대폰 마지막 숫자" type="text" value="<%= user.phone %>" maxlength="4" onkeydown="" onkeypress="" onkeyup="">
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>운전면허 정보</h3>
    <table>
      <colgroup>
        <col style="width:110px">
        <col style="width:auto">
      </colgroup>
      <tbody>
        <tr>
          <th scope="row"><label for="userName">면허구분</label></th>
          <td>
            <input type="text" value="<%= user.classification %>" name="userName" title="성명" placeholder="국내/국외">
          </td>
        </tr>
        <tr>
          <th scope="row"><label for="usrEmail">면허종류</label></th>
          <td>
            <input type="text" name="usrEmail" maxlength="80" value="<%= user.numberArea %>" title="이메일" placeholder="1종보통">
          </td>
        </tr>
          <tr>
          <th scope="row"><label for="usrEmail">면허증번호</label></th>
          <td>
            <input type="text" name="number_1" id="number_1" class="form-control" placeholder="지역" value="<%= user.number_1 %>">
            <input type="text" name="number_2" id="number_2" class="form-control" value="<%= user.number_2 %>">
            <input type="passwd" name="number_3" id="number_3" class="form-control" value="<%= user.number_3 %>">
            <input type="text" name="number_4" id="number_4" class="form-control" value="<%= user.number_4 %>">
          </td>
        </tr>
        <tr>
          <th scope="row"><label for="usrEmail">발급일</label></th>
          <td>
          <input type="text" name="issueyear" id="issueyear" class="form-control" value="<%= user.issueyear %>">
          <label class="col-md-1 control-label">년</label>
          <input type="text" name="issuemonth" id="issuemonth" class="form-control" value="<%= user.issuemonth %>">
          <label class="col-md-1 control-label">월</label>
          <input type="text" name="issueday" id="issueday" class="form-control" value="<%= user.issueday %>">
          <label class="col-md-1 control-label">일</label>
          </td>
        </tr>
        <tr>
          <th scope="row"><label for="usrEmail">만료일</label></th>
          <td>
          <input type="text" name="issueyear" id="issueyear" class="form-control" value="<%= user.dueyear %>">
          <label class="col-md-1 control-label">년</label>
          <input type="text" name="issuemonth" id="issuemonth" class="form-control" value="<%= user.duemonth %>">
          <label class="col-md-1 control-label">월</label>
          <input type="text" name="issueday" id="issueday" class="form-control" value="<%= user.dueday %>">
          <label class="col-md-1 control-label">일</label>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- 결제 정보 -->
  <section>
    <h3>결제 방식</h3>
    <div>
      <label><input type="radio" name="payType" value="1" checked>카드 결제<br></label>
      <label><input type="radio" name="payType" value="2">휴대폰 결제<br></label>
    </div>
    <div>
      <div id="pay_by_card">
        <div>
          <p>카드종류</p>
          <select title="카드사 선택" name="txtCardCode">
            <option value="000000">카드 종류를 선택해 주세요</option>
            <option value="CCDI27">현대카드</option>
            <option value="CCKM16">KB국민카드</option>
            <option value="CCLG29">신한카드</option>
            <option value="CCSS31">삼성카드</option>
            <option value="CCLO47">롯데카드</option>
            <option value="CCPH21">우리카드</option>
            <option value="CCHN06">하나카드</option>
            <option value="CCBC26">비씨카드</option>
            <option value="CCNH13">NH농협카드</option>
            <option value="CCCT22">씨티카드</option>
            <option value="CCKM77">카카오뱅크</option>
          </select>
        </div>

        <div>
          <p>할부 선택</p>
          <select title="결제기간 선택" class="">
            <option value="00" selected="selected">결제기간 선택</option>
            <option value="0" selected="">일시불</option>
            <option value="2" selected="">2개월</option>
            <option value="3" selected="">3개월</option>
            <option value="4" selected="">4개월</option>
            <option value="5" selected="">5개월</option>
            <option value="6" selected="">6개월</option>
            <option value="7" selected="">7개월</option>
            <option value="8" selected="">8개월</option>
            <option value="9" selected="">9개월</option>
            <option value="10" selected="">10개월</option>
            <option value="11" selected="">11개월</option>
            <option value="12" selected="">12개월</option>
          </select>			
        
          <a href="#">무이자할부 안내</a>
          <p>* 법인 / 기업카드는 신용카드 무이자 할부 적용이 되지 않습니다.</p>
        </div>
      </div>
      <div id="pay_by_mobile" class="hidden">
        <p>통신사</p>
        <select>
          <option value="0" selected="selected">통신사를 선택해 주세요</option>
          <option value="SKT">SKT</option>
          <option value="LGU">LG U+</option>
          <option value="KTF">KT</option>
          <option value="ETC1">알뜰폰-KCT</option>
          <option value="ETC2">알뜰폰-헬로모바일</option>
        </select>
      </div>
    </div>
  </section>

  <!-- 선택 정보 -->
  <selction>
    <button id="show_select_car_section" type="button">이전</button>
    <button type="submit" onclick="">예약</button>
  </selction>
</section>