<!DOCTYPE html>
<html>
 <head>
  <% include ../common/partials/head %>
 </head>
 <body>
  <% include ../common/partials/nav %>

  <div class="container post post-show">
   <% include ./partials/header %>

   <div class="buttons">
    <a class="btn btn-default" href="/post">Back</a>
    <a class="btn btn-default" href="/post/<%= posts.id %>/edit">Edit</a>
    <form action="/post/<%= posts.id %>?_method=delete" method="post">
     <a class="btn btn-default" href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
    </form>
   </div>

   <div class="contentBox">
    <h3 class="contentBoxTop"><%= posts.title %></h3>
    <div class="row">
     <div class="col-sm-4 col-sm-push-8">
      <div class="post-info">
       <div><span>Created</span> : <%= posts.createdAt %> <%= posts.createdTime %></div>
       <% if(posts.updatedAt) { %>
        <div><span>Updated</span> : <%= posts.updatedAt %> <%= posts.updatedTime %></div>
       <% } %>
      </div> <!-- post-info end -->
     </div> <!-- col end-->
     <div class="col-sm-8 col-sm-pull-4">
      <div class="post-body"><%= posts.path %></div>
     </div> <!-- col end-->
    </div> <!-- row end -->
   </div> <!-- post-container end -->

  </div> <!-- container end -->
 </body>
</html>